<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="assets/placeholder.jpg">
      <div class="caption right-align">
        <a href="/home">
        	<h3>< Hi! /></h3>
        </a>
        <h5 class="light grey-text text-lighten-3">I'm Justin Martin.<br>Welcome to my site!</h5>
      </div>
    </li>
  </ul>
</div>

<a href=""></a>