<div class="parallax-container">

  <div class="navbar-fixed">
    <nav class="navbar">
      <div class="nav-wrapper">
        <a href="/" id="brand-color" class="brand-logo">JLM</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="link-color" href="/home">Home</a></li>
          <li><a class="link-color" href="/articles">Food-4-Thought</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a class="link-color" href="/home">Home</a></li>
          <li><a class="link-color" href="/articles">Food-4-Thought</a></li>
        </ul>
      </div>
    </nav>
  </div> <!-- navbar within container (before partial) -->

  <div class="parallax">
    <img src="assets/blackcover.jpg">
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Food-4-Thought</h2>
    <p class="grey-text text-darken-3 lighten-3">Need something to read? Here's a list of articles that I've stumbled upon over the years that have influenced me one way or another.</p>
  </div>

  <div class="row container">
	  <% @articles.each do |article| %>
	  	<a target="_blank" href="<%= article.source %>"><h4><%= article.title %></h4></a>
	  	<p><%= article.author %> -- <%= article.date %></p>
	  <% end %>
  </div>
</div>