<div class="parallax-container">

  <div class="navbar-fixed">
    <nav class="navbar">
      <div class="nav-wrapper">
        <a href="/" id="brand-color" class="brand-logo">JLM</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="link-color" href="/home">Home</a></li>
          <li><a class="link-color" href="/articles">Food-4-Thought</a></li>
        </ul>
      </div>
    </nav>
  </div> <!-- navbar within container  -->

  <div class="parallax">
    <img src="assets/blackcover.jpg">
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Food-4-Thought</h2>
    <p class="grey-text text-darken-3 lighten-3">Need something to read? Here's a list of articles that I've stumbled upon over the years that have influenced me one way or another.</p>
  </div>

  <div class="row container">
	  <% @articles.each do |article| %>
	  	<a href="<%= article.source %>"><h4><%= article.title %></h4></a>
	  	<p><%= article.author %> -- <%= article.date %></p>
	  <% end %>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Footer Content</h5>
        <p class="grey-text">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>...</h5>
        <ul>
          <li><a class="grey-text" href="/articles">Food-4-Thought</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 JLM
    </div>
  </div>
</footer>