<div class="parallax-container">
  <%= render "layouts/navbar" %>

  <h3 class="home-heading"><span class="heading-tags"><</span> Justin L Martin<span class="heading-tags">/></span></h3>
  <h3 class="mobile-home-heading"><span class="heading-tags"><</span> JLM<span class="heading-tags">/></span></h3>

  <div class="parallax">
    <img src="assets/pike-street.jpg">
  </div>
</div>

<div class="section white">
  <div class="row container">

    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active"><i class="material-icons">perm_identity</i>Hi</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12 m12 l6 center-align">
              <p class="intro">Welcome to my site! <br>
              My name's Justin. I'm an up and coming web developer looking for opportunities to learn and grow.<br>
              Explore below to find out a little more about myself and drop me a line under contacts to get in touch.</p>
            </div>
            <div class="col s12 m12 l6 center-align">
              <p><img class="hi-img" src="assets/justin-3.jpg"></p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">business</i>Education + Work</div>
        <div class="collapsible-body">
          <p class="container-content">
            <span class="bold">Western Washington University</span>: BA in Management Information Systems 
            <br>
            <span class="bold">General Assembly</span>: Front-End Web Development 
            <br>
            <span class="bold">New York Code + Design Academy</span>: Web Development Intensive 
            <br>
            <span class="bold">Liberty Mutual Insurance Group</span>: 4 Years
            <br>
            <img class="where-learned-image" src="assets/wwu.png">
            <img class="where-learned-image" src="assets/ga.png">
            <img class="where-learned-image" src="assets/nycda.jpg">
            <img class="where-learned-image" src="assets/libertymutual.jpg">
          </p>
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">code</i>Skills</div>
        <div class="collapsible-body">
          <p class="container-content">
            <span class="bold">Languages</span>: HTML5, CSS3, JavaScript, Ruby, SQL <br>
            <span class="bold">Frameworks/Libraries</span>: Rails, jQuery, RSpec, Bootstrap, CanvasJS, Sinatra, MaterializeCSS <br>
            <span class="bold">Misc</span>: Git, GitHub, Amazon Web Services, SQLite3, Postgres, Heroku, Informatica Powercenter,<br> ESP Job Scheduler, Salesforce, Eclipse IDE
          <br>
          <br>
          <img class="what-learned-image" src="assets/html5.svg">
          <img class="what-learned-image" src="assets/css3.svg">
          <img class="what-learned-image" src="assets/js.png">
          <img class="what-learned-image" src="assets/rubyonrails.png">
          <img class="what-learned-image" src="assets/aws.png">
          <img class="what-learned-image" src="assets/git.png">
          </p>
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">web</i>Projects</div>
        <div class="collapsible-body">
          <div class="row">

            <div class="col 12">
              <div class="col s12 m6">
                  <p><img class="materialboxed project-image" src="assets/where-2.png"></p>
              </div>
              <div class="col s12 m6">
                <p>
                  <span class="project-title">Where 2</span><br>
                  Inspired by my passion for traveling, I created something that answered the question: "How far could my dollar take me in a given country?".
                <br>
                  <a class="article-title" target="_blank" href="https://where-2-app.herokuapp.com/">View</a> | <a class="article-title" target="_blank" href="https://github.com/justmartin/where-2">Repo</a>
                </p>
              </div>
            </div>

            <div class="col 12">
              <div class="col s12 m6">
                <p><img class="materialboxed project-image" src="assets/remember-when.png"></p>
              </div>
              <div class="col s12 m6">
                <p>
                  <span class="project-title">Remember When</span><br>
                  Looking for a place to reminisce, I built a site where users can share nostaglia categorized by decade.
                <br>
                  <a class="article-title" target="_blank" href="https://remember-when-app.herokuapp.com/">View</a> | <a class="article-title" target="_blank" href="https://github.com/justmartin/remember-when">Repo</a>
                </p>
              </div>
            </div>

            <div class="col 12">
              <div class="col s12 m6">
                <p class=""><img class="materialboxed project-image img-border" src="assets/hangman-js-rails.png"></p>
              </div>
              <div class="col s12 m6">
                <p>
                  <span class="project-title">Hangman</span><br>
                  Hangman game built with js and delivered on rails.
                <br>
                  <a class="article-title" target="_blank" href="https://hangman-js-rails-app.herokuapp.com/">View</a> | <a class="article-title" target="_blank" href="https://github.com/justmartin/hangman-js-rails">Repo</a>
                </p>
              </div>
            </div>

            <div class="col 12">
              <div class="col s12 m6">
                <p class=""><img class="materialboxed project-image img-border" src="assets/sound-kit.png"></p>
              </div>
              <div class="col s12 m6">
                <p>
                  <span class="project-title">Sound Kit</span><br>
                  Simple sound kit built with js and delivered on rails.
                <br>
                  <a class="article-title" target="_blank" href="https://sound-kit.herokuapp.com/">View</a> | <a class="article-title" target="_blank" href="https://github.com/justmartin/sound-kit">Repo</a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">person_pin</i>About</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s6 center-align">
                <h5>Likes</h5>
                <img class="about-image" src="assets/travel.svg"> <br>
                <span class="about-title">Traveling</span><br><span> Get out and explore!</span>
                <br>
                <img class="about-image" src="assets/learning.svg"> <br>
                <span class="about-title">Learning</span><br><span> There's always room for improvement.</span>
                <br>
                <img class="about-image" src="assets/famfriends.svg"> <br>
                <span class="about-title">Family n Friends</span><br><span> They keep me grounded.</span>
              </div>
              <div class="col s6 center-align">
                <h5>Dislikes</h5>
                <img class="about-image" src="assets/trash.svg"> <br>
                <span class="about-title">Mess</span><br><span> I operate best when I'm organized.</span>
                <br>
                <img class="about-image" src="assets/constant.svg"> <br>
                <span class="about-title">Constants</span><br><span> Unless it's change of course.</span>
                <br>
                <img class="about-image" src="assets/bored.svg"> <br>
                <span class="about-title">Boredom</span><br><span> Slows the good things down.</span>
              </div>
            </div>
          </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">email</i>Contact</div>
          <div class="collapsible-body">
            <p class="container-content">
              <a href="https://www.linkedin.com/in/justinlamarmartin" target="_blank">
                <img class="contact-image" src="assets/linkedin.svg">
              </a><br>
              <a href="https://github.com/justmartin" target="_blank">
                <img class="contact-image" src="assets/github.svg">
              </a><br>
              <a href="mailto:justin.lamar.martin@gmail.com">
                <img class="contact-image" src="assets/gmail.svg">
              </a><br>
            </p>
          </div>
      </li>
    </ul>

  </div>
</div>