<div class="parallax-container">
  <div class="parallax">
    <img src="assets/blackcover.jpg">
    <h1>Justin L Martin</h1>
  </div>
</div>

<div class="section white">
  <div class="row container">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header"><i class="material-icons">business</i>Where I've Learned</div>
        <div class="collapsible-body">
          <p class="container-content">
            Western Washington University: BA in Management Information Systems 
            <br>
            General Assembly: Front-End Web Development 
            <br>
            New York Code + Design Academy: Web Development Intensive 
            <br>
            Liberty Mutual Insurance Group: 4 Years
            <br>
            <img class="learned-image" src="assets/wwu.png">
            <img class="learned-image" src="assets/ga.png">
            <img class="learned-image" src="assets/nycda.jpg">
            <img class="learned-image" src="assets/libertymutual.jpg">
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">code</i>What I've Learned</div>
        <div class="collapsible-body">
          <p>
            Languages: HTML5, CSS3, JavaScript, jQuery, Ruby, SQL <br>
            Frameworks: Rails, Sinatra, Bootstrap, MaterializeCSS <br>
            Misc.: Git, Amazon Web Services, SQLite3, Postgres, Informatica Powercenter, ESP Job Scheduler, Salesforce, Eclipse IDE
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">person_pin</i>About</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s6">
                <h5>Likes</h5>
                <img class="contact-image" src="assets/travel.svg">
                <span>Traveling</span>
                <br>
                <img class="contact-image" src="assets/learning.svg">
                <span>Learning</span>
                <br>
                <img class="contact-image" src="assets/famfriends.svg">
                <span>Family n Friends</span>
                <br>
                <img class="contact-image" src="assets/travel.svg">
                <span>Adaptability</span>
                <br>
                <img class="contact-image" src="assets/happy.svg">
                <span>Good Vibes</span>
              </div>
              <div class="col s6">
                <h5>Dislikes</h5>
                <img class="contact-image" src="assets/trash.svg">
                <span>Mess</span>
                <br>
                <img class="contact-image" src="assets/travel.svg">
                <span>Constants</span>
                <br>
                <img class="contact-image" src="assets/bored.svg">
                <span>Bore</span>
                <br>
                <img class="contact-image" src="assets/sock.svg">
                <span>Wet Socks</span>
                <br>
                <img class="contact-image" src="assets/angry.svg">
                <span>Bad Vibes</span>
              </div>
            </div>
          </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">call</i>Contact</div>
          <div class="collapsible-body">
            <p class="container-content">
              <a href="https://www.linkedin.com/in/justinlamarmartin" target="_blank">
                <img class="contact-image" src="assets/linkedin.svg">
              </a><br>
              <a href="https://github.com/justmartin" target="_blank">
                <img class="contact-image" src="assets/github.svg">
              </a><br>
              <a href="https://www.instagram.com/justmartin/" target="_blank">
                <img class="contact-image" src="assets/instagram.svg">
              </a><br>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">...</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/articles">Food-4-Thought</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 JLM
    </div>
  </div>
</footer>

