<div class="parallax-container">
  <div class="parallax"><img src="assets/blackcover.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">person_pin</i>About</div>
          <div class="collapsible-body">
            <ul>
              <li>Likes</li>
              <li>Traveling</li>
              <li>Learning</li>
              <li>Family n Friends</li>
              <li>Basketball</li>
              <li></li>
            </ul>
            <ul>
              <li>Dislikes</li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">business</i>Where I've Learned</div>
        <div class="collapsible-body">
          <p>
            Western Washing University: BA in Management Information Systems <br>
            General Assembly: Front-End Web Development <br>
            New York Code + Design Academy: Web Development Intensive <br>
            Liberty Mutual Insurance Group: 4 Years
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">code</i>What I've Learned</div>
        <div class="collapsible-body">
          <p>
            Languages: HTML5, CSS3, JavaScript, jQuery, Ruby, SQL <br>
            Frameworks: Rails, Sinatra, Bootstrap, MaterializeCSS <br>
            Misc.: Git, Amazon Web Services, SQLite3, Postgres, Informatica Powercenter, ESP Job Scheduler, Salesforce, Eclipse IDE
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">thumbs_up_down</i>Interests</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">call</i>Contact</div>
          <div class="collapsible-body">
            <p>
              Email<br>
              LinkedIn <br>
              Instagram <br>
              GitHub
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

