<div class="parallax-container">

  <div class="navbar-fixed">
    <nav class="navbar">
      <div class="nav-wrapper">
        <a href="/" id="brand-color" class="brand-logo">JLM</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="link-color" href="/home">Home</a></li>
          <li><a class="link-color" href="/articles">Food-4-Thought</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a class="link-color" href="/home">Home</a></li>
          <li><a class="link-color" href="/articles">Food-4-Thought</a></li>
        </ul>
      </div>
    </nav>
  </div> <!-- navbar within container  -->

  <div class="parallax">
    <img src="assets/blackcover.jpg">
  </div>

</div>

<div class="section white">
  <div class="row container">

    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header"><i class="material-icons">business</i>Where I've Learned</div>
        <div class="collapsible-body">
          <p class="container-content">
            Western Washington University: BA in Management Information Systems 
            <br>
            General Assembly: Front-End Web Development 
            <br>
            New York Code + Design Academy: Web Development Intensive 
            <br>
            Liberty Mutual Insurance Group: 4 Years
            <br>
            <img class="where-learned-image" src="assets/wwu.png">
            <img class="where-learned-image" src="assets/ga.png">
            <img class="where-learned-image" src="assets/nycda.jpg">
            <img class="where-learned-image" src="assets/libertymutual.jpg">
          </p>
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">code</i>What I've Learned</div>
        <div class="collapsible-body">
          <p>
            Languages: HTML5, CSS3, JavaScript, jQuery, Ruby, SQL <br>
            Frameworks: Rails, Sinatra, Bootstrap, MaterializeCSS <br>
            Misc.: Git, Amazon Web Services, SQLite3, Postgres, Informatica Powercenter, ESP Job Scheduler, Salesforce, Eclipse IDE
          </p>
          <img class="what-learned-image" src="assets/html5.svg">
          <img class="what-learned-image" src="assets/css3.svg">
          <img class="what-learned-image" src="assets/ruby.svg">
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">person_pin</i>About</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s6 center-align">
                <h5>Likes</h5>
                <img class="about-image" src="assets/travel.svg"> <br>
                <span class="about-title">Traveling</span><br><span> Get out and explore!</span>
                <br>
                <img class="about-image" src="assets/learning.svg"> <br>
                <span class="about-title">Learning</span><br><span> There's always room for improvement.</span>
                <br>
                <img class="about-image" src="assets/famfriends.svg"> <br>
                <span class="about-title">Family n Friends</span><br><span> They keep me grounded.</span>
                <br>
                <img class="about-image" src="assets/adapt.svg"> <br>
                <span class="about-title">Adaptability</span><br><span> Everything changes. Need to keep up.</span>
                <br>
                <img class="about-image" src="assets/happy.svg"> <br>
                <span class="about-title">Good Vibes</span><br><span>Try to surround myself with people who have similar aspirations.</span>
              </div>
              <div class="col s6 center-align">
                <h5>Dislikes</h5>
                <img class="about-image" src="assets/trash.svg"> <br>
                <span class="about-title">Mess</span><br><span> I operate best when I'm organized.</span>
                <br>
                <img class="about-image" src="assets/constant.svg"> <br>
                <span class="about-title">Constants</span><br><span> Unless it's change of course.</span>
                <br>
                <img class="about-image" src="assets/bored.svg"> <br>
                <span class="about-title">Boredom</span><br><span> Slows the good things down.</span>
                <br>
                <img class="about-image" src="assets/sock.svg"> <br>
                <span class="about-title">Wet Socks</span><br><span> It's the worst thing.</span>
                <br>
                <img class="about-image" src="assets/angry.svg"> <br>
                <span class="about-title">Bad Vibes</span><br><span> Negativity leads to more negativity.</span>
              </div>
            </div>
          </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">web</i>Projects</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s4">
              <img class="materialboxed project-image" src="assets/blackcover.jpg">
            </div>
            <div class="col s4">
              <img class="materialboxed project-image" src="assets/blackcover.jpg">
            </div>
            <div class="col s4">
              <img class="materialboxed project-image" src="assets/blackcover.jpg">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">call</i>Contact</div>
          <div class="collapsible-body">
            <p class="container-content">
              <a href="https://www.linkedin.com/in/justinlamarmartin" target="_blank">
                <img class="contact-image" src="assets/linkedin.svg">
              </a><br>
              <a href="https://github.com/justmartin" target="_blank">
                <img class="contact-image" src="assets/github.svg">
              </a><br>
              <a href="https://www.instagram.com/justmartin/" target="_blank">
                <img class="contact-image" src="assets/instagram.svg">
              </a><br>
            </p>
          </div>
      </li>



    </ul>
  </div>
</div>




