// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-content {
	text-align: center;
}

.learned-image {
	height: 100px;
}

.contact-image {
	height: 50px;
}

.about-image {
	height: 50px;
}

.about-title{
	color: red;
}

.project-image {
	width: 100%;
}