// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Parallax Container =============================================================================
.parallax img{
	width: 100%; 
}

.parallax-container {
  height: 600px !important;
  background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7));
}

.home-heading {
	color: white;
	text-align: center;
	letter-spacing: 40px;
	font-size: 30px;
	margin-top: 150px;
}

.mobile-home-heading {
	display: none;
	color: white;
	text-align: center;
	letter-spacing: 20px;
	font-size: 25px;
	margin-top: 75px;
}

.heading-tags {
	letter-spacing: 0px;
	color: #B02B2C;
}

//Hi =============================================================================
.intro {
	text-align: justify;
}

.hi-img {
	height: 300px;
}

//Ed + Work =============================================================================
.where-learned-image {
	height: 100px;
}

//Skills ================================================================================
.what-learned-image {
	height: 50px;
}

//Projects ==============================================================================
.project-image {
	width: 100%;
	border-style: solid;
	border-width: 1px;
}

.project-title {
	font-size: 15px;
	font-weight: bold;
	color: #B02B2C;
}

//About =================================================================================
.about-image {
	height: 50px;
}

.about-title{
	color: red;
}

//Contact ==============================================================================
.contact-image {
	height: 50px;
}

.contact-image-opacity {
	opacity: 0.5;
	transition: all 0.2s;
}

//Multi-Use ==============================================================================
.row {
	margin-top: 40px;
}

.container-content {
	text-align: center;
}

.bold {
	font-weight: bold;
}

//Media Queries =============================================================================

@media only screen and (max-width: 650px) {
	.parallax-container {
    height: 400px !important;
   }
}

@media only screen and (max-width: 450px) {
	.parallax-container {
    height: 300px !important;
   }

  .home-heading {
		display: none;
	}

	.mobile-home-heading {
		display: block;
	}
}