.social a {
  color: #B02B2C;
  text-decoration: none;
}

.social {
  position: fixed;
  top: 300px;
}

.social ul {
  padding: 0px;
  transform: translate(-275px, 0px);
  // -webkit-transform: translate(-280px, 0px);
  // -ms-transform: translate(-280px, 0px);
  // -moz-transform: translate(-280px, 0px);
  // -o-transform: translate(-280px, 0px);
}

.social ul li {
  display: block;
  background: rgba(0,0,0,0.35);
  width: 300px;
  text-align: right;
  margin: 5px;
  padding: 10px;
  border-radius: 0px 30px 30px 0px;
  -webkit-border-radius: 0px 30px 30px 0px;
  -moz-border-radius: 0px 30px 30px 0px;
  transition: all 1s;
  -webkit-transition: 0px 30px 30px 0px;
  -ms-transition: 0px 30px 30px 0px;
  -moz-transition: 0px 30px 30px 0px;
  -o-transition: 0px 30px 30px 0px;
}

.social ul li i {
  margin-left: 10px;
}

// Hover Effects =====================================================================

.social ul li:hover {
  background: #B02B2C;
  transform: translate(80px, 0px);
  -webkit-transform: translate(80px, 0px);
  -ms-transform: translate(80px, 0px);
  -moz-transform: translate(80px, 0px);
  -o-transform: translate(80px, 0px);
}

.social ul li:hover a {
  color: #ffffff;
}

.social ul li:hover i {
  color: #ffffff;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: all 1s;
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

// Mobile =====================================================================

@media only screen and (max-width: 992px) {
  .social {
    display: none;
  }
}
