<div class="navbar-fixed">
  <nav class="navbar">
    <div class="nav-wrapper">
      <a href="/" id="brand-color" class="brand-logo"><img id="logo" src="assets/logo-4.png"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="link-color" href="/">Home</a></li>
        <li><a target="_blank" class="link-color" href="https://s3.amazonaws.com/justinlamarmartin/JustinMartinResume.pdf">Resume</a></li>
        <li><a class="link-color" href="/articles">Readings</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a target="_blank" class="link-color" href="https://s3.amazonaws.com/justinlamarmartin/JustinMartinResume.pdf">Home</a></li>
        <li><a class="link-color" href="/resume">Resume</a></li>
        <li><a class="link-color" href="/articles">Readings</a></li>
      </ul>
    </div>
  </nav>
</div>