<div class="social">
	<ul>
		<li>
			<a href="https://www.linkedin.com/in/justinlamarmartin" target="_blank">LinkedIn <i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</li>
		<li>
			<a href="https://github.com/justmartin" target="_blank">GitHub <i class="fa fa-github-alt" aria-hidden="true"></i></a>
		</li>
		<li>
			<a href="mailto:justin.lamar.martin@gmail.com" target="_blank">E-Mail <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
		</li>
	</ul>
</div>